<main class="index">

  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Enlaces favoritos</h1>
      <h3 class="mb-5">
        <em>Guarda tus enlaces favoritos, crack 8]</em>
      </h3>
      <a href="/login" class="btn btn-primary">
        Empecemos, osiosi
      </a>
    </div>
  </header>

</main>
