<div class="container">
  <div class="col mx-auto">
    {{#each academia}}
      <a href="/MensajeSolicitudDeConvalidacion">
        <div class="card text-center">
          <div class="row">
            <div class="col">
              <p>id</p>
              <p>{{id}}</p>
            </div>
            <div class="col">
              <p>password</p>
              <p>{{password}}</p>
            </div>
            <div class="col">
              puto
            </div>
          </div>
        </div>
      </a>
      <p></p>
    {{else}}
      fuck you
      <!-- no hay -->
    {{/each}}
  </div>
</div>
